/* ========================
          Scroll Bar design 
==========================*/
::-webkit-scrollbar {
  width: 0.125rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 0.625rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--texts-properties-color);
  border-radius: var(--universal-border-radius);
}
