/* wrapper for showing the scroll bar */
.task-wrapper {
  width: 100%;
  height: 100%;
  margin-top: var(--spacing-small);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(225px, 1fr);
  align-content: start;
  overflow-y: auto;
  z-index: 0;
}
/* ========================
          MAIN TASK MENU
==========================*/
.tasks-menu {
  width: 100%;
  height: 80%;
  box-shadow: var(--universal-box-shadow);
  border-radius: var(--universal-border-radius);
  margin-top: var(--spacing-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}
